[submodule "_dependlibs/SDL2"]
	path = _dependlibs/SDL2
	url = https://github.com/libsdl-org/SDL/
	branch = SDL2
[submodule "MC-AlphaMapper/_external/imgui"]
	path = MC-AlphaMapper/_external/imgui
	url = https://github.com/ocornut/imgui/
[submodule "MC-AlphaMapper/_external/imgui-filebrowser"]
	path = MC-AlphaMapper/_external/imgui-filebrowser
	url = https://github.com/AirGuanZ/imgui-filebrowser
